* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    color: blue;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

img {
    height: 300px;
    width: 300px;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post {
    background-color: rgb(241, 241, 243);
    width: 75%;
    float: left;
}

.other-posts {
    background-color: rgb(220, 220, 250);
    width: 25%;
    float: right;
}

.author-box {
    background-color: rgb(227, 255, 231);
}

.author-img {
    height: 175px;
    width: 175px;
}